### PYTHON IGNORES ###
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
doc/build
eggs
*.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

#Translations
*.mo

#Sphinx
doc/source/_build/*

#Mr Developer
.mr.developer.cfg

### C IGNORES ###
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Others
*~
# PyCharm Settings
.idea

# VSCode Settings
.vscode

# vi / vim swp files
*.swp
.DS_STORE

# setuptools_scm files
# this should be generated automatically when installed
satpy/version.py
doc/source/api/*.rst
doc/source/reader_table.rst
