include doc/Makefile
include doc/source/*
include doc/examples/*.py
include etc/*
include etc/readers/*
include etc/writers/*
include etc/enhancements/*
include etc/composites/*
include LICENSE.txt
include README.rst
include MANIFEST.in

