[composite:viirs_fog]
name=fog
standard_name=temperature_difference
compositor=satpy.composites.viirs.VIIRSFog
prerequisites=I05,I04
sensor=viirs

[composite:histogram_dnb]
name=histogram_dnb
standard_name=equalized_radiance
compositor=satpy.composites.viirs.HistogramDNB
prerequisites=DNB,DNB_SZA
sensor=viirs
units=1

[composite:adaptive_dnb]
name=adaptive_dnb
standard_name=equalized_radiance
compositor=satpy.composites.viirs.AdaptiveDNB
adaptive_day=multiple
adaptive_mixed=always
adaptive_night=never
prerequisites=DNB,DNB_SZA
sensor=viirs
units=1

[composite:dynamic_dnb]
name=dynamic_dnb
standard_name=equalized_radiance
compositor=satpy.composites.viirs.ERFDNB
prerequisites=DNB,DNB_SZA,DNB_LZA
sensor=viirs
units=1

[composite:viirs_true_color]
name=true_color
standard_name=true_color
compositor=satpy.composites.viirs.VIIRSTrueColor
prerequisites=M05,M04,M03
sensor=viirs

[composite:viirs_crefl_true_color]
name=crefl_true_color
standard_name=true_color
compositor=satpy.composites.viirs.VIIRSSharpTrueColor
prerequisites=crefl_M05,crefl_M04,crefl_M03
optional_prerequisites=crefl_I01
high_resolution_band=red
sensor=viirs

[composite:crefl_m05]
name=crefl_M05
standard_name=corrected_reflectance
compositor=satpy.composites.viirs.CorrectedReflectance
dem_filename=/Users/davidh/repos/git/polar2grid/viirs_crefl/CMGDEM.hdf
prerequisites=M05,M_SENA,M_SENZ,M_SOLA,M_SOLZ
sensor=viirs
metadata=sunz_corrected
modifiers=sunz_correction

[composite:crefl_m04]
name=crefl_M04
standard_name=corrected_reflectance
compositor=satpy.composites.viirs.CorrectedReflectance
dem_filename=/Users/davidh/repos/git/polar2grid/viirs_crefl/CMGDEM.hdf
prerequisites=M04,M_SENA,M_SENZ,M_SOLA,M_SOLZ
sensor=viirs
metadata=sunz_corrected
modifiers=sunz_correction

[composite:crefl_m03]
name=crefl_M03
standard_name=corrected_reflectance
compositor=satpy.composites.viirs.CorrectedReflectance
dem_filename=/Users/davidh/repos/git/polar2grid/viirs_crefl/CMGDEM.hdf
prerequisites=M03,M_SENA,M_SENZ,M_SOLA,M_SOLZ
sensor=viirs
metadata=sunz_corrected
modifiers=sunz_correction

[composite:crefl_i01]
name=crefl_I01
standard_name=corrected_reflectance
compositor=satpy.composites.viirs.CorrectedReflectance
dem_filename=/Users/davidh/repos/git/polar2grid/viirs_crefl/CMGDEM.hdf
prerequisites=I01,M_SENA,M_SENZ,M_SOLA,M_SOLZ
sensor=viirs
metadata=sunz_corrected
modifiers=sunz_correction

[composite:viirs_sharp_true_color]
name=sharp_true_color
standard_name=true_color
compositor=satpy.composites.viirs.VIIRSSharpTrueColor
prerequisites=M05,M04,M03
optional_prerequisites=I01
high_resolution_band=red
sensor=viirs

[composite:viirs_overview]
name=overview
standard_name=overview
compositor=satpy.composites.RGBCompositor
prerequisites=M05,M07,M15
sensor=viirs

[composite:viirs_overview_sun]
name=overview_sun
standard_name=overview
compositor=satpy.composites.RGBCompositor
prerequisites=M05,M07,M15
sensor=viirs

[composite:viirs_natural]
name=natural
standard_name=natural
compositor=satpy.composites.RGBCompositor
prerequisites=M10,M07,M05
sensor=viirs

[composite:viirs_natural_sun]
name=natural_sun
standard_name=natural
compositor=satpy.composites.RGBCompositor
prerequisites=M10,M07,M05
sensor=viirs

;[]
;uid=true_color
;format=
;prerequisites=M05,M04,M02

